<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Dirección</h4>
                <p class="lead mb-0">
                    San José de Maipo, Santiago, Chile. <br />
                    <address>Cam. Al Volcán 19845, San José de Maipo</address>
                    Gimnasio lateral frente al Paradero 41a.
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Redes Sociales de Interés</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/profile.php?id=100091917854567"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-instagram"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-whatsapp"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Sobre nosotros</h4>
                <p class="lead mb-0">
                    <a> @Html.ActionLink("¿Qué es Ñuke Mapu Pewma?", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })</a><br/>
                    <a href="#">Socios Comerciales</a><br/>
                    <a href="#">¿Tienes cosas en desuso?</a><br/>
                </p>
            </div>
        </div>
    </div>
</footer>
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Equipo Ryodan Tech 2025</small></div>
</div>