@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Catálogo";
}

<section class="py-5">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-5">Catálogo de Productos</h2>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <!-- Producto 1 -->
            <div class="col">
                <div class="card h-100">
                    <img src="\images\WhatsApp Image 2025-04-28 at 01.11.19.jpeg" class="card-img-top" alt="Producto 1">
                    <div class="card-body">
                        <h5 class="card-title">Artesanía 1</h5>
                        <p class="card-text">Guitarra reacondicionada para volverse una repisa estilizada.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>

            <!-- Producto 2 -->
            <div class="col">
                <div class="card h-100">
                    <img src="\images\WhatsApp Image 2025-04-28 at 01.11.19 (1).jpeg" class="card-img-top" alt="Producto 2"/>
                    <div class="card-body">
                        <h5 class="card-title">Artesanía 2</h5>
                        <p class="card-text">Maderas reacondicionadas en un portallaves con estilo y bonito.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>

            <!-- Producto 3 -->
            <div class="col">
                <div class="card h-100">
                    <img src="\images\449116178_17908525475977584_5323087786425887876_n.jpg" class="card-img-top" alt="Producto 3">
                    <div class="card-body">
                        <h5 class="card-title">Artesanía 3</h5>
                        <p class="card-text">Aros 100% artesanales, ¡diseños exclusivos! Creados a mano con recursos que entrega la madre tierra.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>

            <!-- Puedes copiar y pegar más tarjetas aquí -->

        </div>
    </div>
</section>
